* {
    padding: 0px;
    margin: 0px;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: montserrat, arial, verdana;
    overflow-x: hidden;
}


@-webkit-keyframes bodybg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-moz-keyframes bodybg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@-o-keyframes bodybg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}
@keyframes bodybg {
    0%{background-position:93% 0%}
    50%{background-position:0% 100%}
    100%{background-position:93% 0%}
}



/* -- header -- */

header {
    margin: auto;
    padding: 15px 25px;
    height: 37px;
}
h1{
    color: #fff;
}

#logodesk {
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-top: 8px;
}
#logomobil {
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-top: 22px;
}
#logomobilwrapper {
    padding-top: 30px;
    padding-left: 10px;
}


/* -- main -- */



#weatherform {
    height: 500px;
    width: 70%;
    max-width: 900px;
    margin: 50px auto;
    margin-top: 10vh;
    text-align: center;
    position: relative;
}
#weatherform fieldset {
    background: white;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    height: 400px;

    /*stacking fieldsets above each other*/
    position: relative;
}
/* -- weatherform -- */
#weatherform fieldset p {
    line-height: 1.5em;
}
#fieldsetp1 {
    margin-top: 60px;
}

/*Hide all except first fieldset*/
#weatherform fieldset:not(:first-of-type) {
    display: none;
}

.fieldsetwrapper {
    height: 70%; 
}
/*inputs*/
#weatherform input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 20px;
    width: 80%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 18px;

    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
    outline: none;  
}

#weatherform input:focus {
    border: 1px solid #000000;
}
/*buttons*/
#weatherform .action-button {
    width: 100px;
    background: #3c8fcc;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 20px 5px;
    
}
#weatherform .action-button:hover, #weatherform .action-button:focus {
    background: #2473ad;
}

.next.action-button#fieldset1button {
    margin-top: 0px;
}

/*headings*/
#weatherform h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #1a3d60;
    margin-bottom: 15px;
    margin-top: 20px;
}
/*progressbar*/
#progressbar {
    overflow: hidden;
    width:80%;
    margin: auto;
    margin-bottom: 20px;
    /*CSS counters to number the steps*/
    counter-reset: step;

}
#progressbar li {
    list-style-type: none;
    color: #fff;
    font-size: 18px;
    width: 33.33%;
    float: left;
    position: relative;


    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 25px;
    line-height: 25px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    border: solid 1px #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}
#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
}
/*marking active/completed steps blue*/
/*The number of the step and the connector before it = blue*/
#progressbar li.active:before,  #progressbar li.active:after{
    background: #3c8fcc;
    color: white;
}

#mobillogo {
    background: white;
    padding-top: 20px;
    text-align: left;
    padding-left: 15px;
}


/* -- radio buttons -- */

.day {
    display: inline-block;
    width: 12%;
    padding: 7px 5px 15px 5px;
}

.allDays {
    display: none;
}

.dayTemp {
    font-size: 13px;
    color: #404040;
}

.allDays .active {
    background-color: #f1f1f1;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
}

label {

}
/* -- hide radio button, use img instead -- */
label > input{ 
    visibility: hidden;
    position: absolute;
}
label > img:hover {
    transform: scale(1.1);
}

label > .weatherDay{
    padding: 0px 0%;
    width: 8%;
    margin: 0 2%;
}


label > input + img{
    cursor:pointer;
    border:2px solid transparent;
    transition: all 0.4s;
    display: inline-block;
    width: 10%;
    /* padding: 0 5%; */
    margin: 0 3%;


}
label > input:checked + img{
    transform: scale(1.2);
}

/*-- citydegree --*/

#citydegree {
    position: relative;
    margin-top: 10px;
}

#citydegree > button {
    position: absolute;
    left:40%;
    width: 20%;
    top: 0;
}

#citydegree > h3 {
    position: absolute;
    left:40%;
    width:20%;
    top: 16px;

    text-align: left;
    font-size: 1.1em;

    transition-timing-function: ease-in-out;
    transition: 1s;
}

#citydegreeh3.displaytext {
    display: block;
}

#citydegreeh3.loaded {
    transform: translateX(70%);
}

#citydegreebutton.loaded {
    transform:translateX(-50%);
}

/* -- share -- */

.shareSection {
    margin: 25px 0px;
}


@media all and (min-width: 0px) {
    footer > h3 {
        text-align: center;
        position: fixed;
        bottom: 15px;
        width: 100%;
        font-size: 0.8em;
        color: #1a415d;
        opacity: 0.99;
    }
    #weatherform {
        width: 100%;
        height: 90vh;
        margin-top: -67px;
        margin-bottom: 0;
    }
    #weatherform fieldset {
        width: 100%;
        margin: 0;
        height: 90vh;
        box-shadow: none;
        padding: 90px 0;
    }
    .showdesktop {
        display: none;
    }
    .showmobil {
        display: block;
    }
    body {
        background: white;
    }
    h1{
        color: #1a3d60;
    }
    .hidemobil {
        display: none;
    }
}

@media all and (min-width: 420px) {

}


@media all and (min-width: 768px) {
    .hidemobil {
        display: block;
    }
    h1{
        color: #fff;
    }
    footer > h3 {
        text-align: center;
        position:inherit;
        margin-top: -35px;
        font-size: 0.8em;
        color: white;
        opacity: 0.7;
    }
    #weatherform {
        height: 650px;
        width: 95%;
        max-width: 1000px;
        margin: 50px auto;
        margin-top: 8vh;
    }

    #weatherform fieldset {
        width: 90%;
        margin: 0 5%;
        height: 550px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
    }
    .showdesktop {
        display: block;
    }
    .showmobil {
        display: none;
    }
    body {
        background: linear-gradient(90deg, #7590ad, #96ccaf, #9fc9e3, #74cdbc);
        background-size: 600%;

        /*
        -webkit-animation: bodybg 45s ease infinite;
        -moz-animation: bodybg 45s ease infinite;
        -o-animation: bodybg 45s ease infinite;
        animation: bodybg 45s ease infinite;
        */

        font-family: montserrat, arial, verdana;
        overflow-x: hidden;
    }
}




