* {
	padding: 0px;
	margin: 0px;
}
body {
	color: #222;
	font-size: small;
    font-family: arial,sans-serif;
}
.btn {
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    background: linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
}

a.btn {
	text-decoration: none;
}

.btn.login{
	margin-right: 25px;
	margin-top:7px;
	float: right;
}

#searchForm {
	position: absolute;
	width: 100%;
	padding: 19px 0px 0px;
	background-color: #fafafa;
	border-bottom:1px solid #ebebeb;
}

#searchForm img:first-child {
	height: 44px;
	width: 120px;
	margin-left:12px;
	vertical-align: middle;
	display: inline-block;
}

#searchForm img:nth-child(2){
    display: inline-block;
    height: 11px;
    line-height: 0;
    width: 19px;
    position: absolute;
    top: 15px;
    right: 80px;
}
#searchForm img:nth-child(3){
    display: inline-block;
    height: 23px;
    vertical-align: middle;
    position: absolute;
    top: 9px;
    right: 40px;
}

#searchForm svg {
	width: 22px;
    position: absolute;
    top: 9px;
    right: 0;
    fill:#4285f4;
}

#searchForm form {
	display: inline-block;
	padding-left: 16px;
	width: 45%;
	position: relative;
}

#searchForm form input {
	padding: 4px;
	padding-left: 13px;
	border-radius: 4px;
	border: none;
	width: 100%;
	   font: 16px arial,sans-serif;
    line-height: 34px;
    height: 34px !important;
	 -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

}
#searchForm form input:hover, #searchForm form input:focus {
	 -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
	outline: none;
}
#searchForm nav {
	height: 58px;
}

#searchForm nav ul {
	display: flex;
	justify-content: space-around;
	width: 45%;
	margin-left:152px;
}
#searchForm nav ul li {
	display: inline-block;
}

#searchForm nav ul li a {
	height: 13px;
    line-height: 1;
    padding: 29px 16px 13px;
    color:#777;
    display: inline-block;
    text-decoration: none;

}
#searchForm nav ul li a:hover {
	color: #000;
}
#searchForm nav ul li:first-child a {
    border-bottom: 3px solid #4285f4;
    color: #4285f4;
    font-weight: bold;	
}

.divider {
	margin:15px;
}

.containerSearch {
	margin-left:150px;
	padding-top:124px;
}

.status{
	line-height: 43px;
	color: #808080;
	padding-left:16px;
}
.searchResults article {
	margin-top: 0;
    margin-bottom: 26px;
    overflow: hidden;
}
.searchResult h3 {
	font-size:18px;
	font-weight:normal;
}

.searchResult a {
	color: #1a0dab;
	text-decoration: none;
}
.searchResult a:hover {
	text-decoration: underline;
}
.searchResult cite {
	color:#006621;
	font-style:normal;
	font-size:14px;
}

.searchResult p {
	color: #545454;
}

.searchResults {
	max-width: 600px;
	padding:0px 16px;
}

.weather {
	margin-left: -16px;
    margin-right: -16px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    padding: 20px 16px 24px 16px;
    color: #878787;
}

.weather h4.city {
	font-size: x-large;
	font-weight: lighter;
}

.weather p {
	font-size: medium;
	font-weight: lighter;
}

.weatherInfo {
	display:table;
    width: 100%;
}
.weatherInfo h5{
	font-size:64px;
	vertical-align: middle;
	margin-left:10px;
}
.weatherInfo img {
	vertical-align: middle;
}
.super {
	vertical-align: top;
	font-size:20px;
	margin-left:-10px;
}

.super span {
	vertical-align: top;
	font-size: 10px;
}
.weatherInfo sup,.weatherInfo h5, .weatherInfo img {
	display: inline-block;
	color: #212121;
	font-weight: normal;

}

.weatherInfo div {
	display: inline-block;
	min-width:43%;
}

.weatherInfo article {
	float:right;
}

.weatherInfo section {
	height: 23px;
    overflow: hidden;
    padding: 15px 0 9px;
}

.weatherInfo section div {
	    background-color: #eee;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#eee),to(#e0e0e0));
    background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
    background-image: linear-gradient(top,#eee,#e0e0e0);
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: #222;
    margin: 0;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 27px;
    line-height: 27px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
.seperator{
	padding:20px 0 0;
}
